@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');

body {
    display: block;
    overflow-x: hidden;
    font-family: 'STIX Two Text';
}

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #2f404e;
}

nav ul li .nav-link {
    color: #2f404e;
    text-decoration: none;
    font-size: 22px;
    margin: auto 10px;
}

nav ul li .nav-link:hover {
    color: #1566a8;
    text-decoration: none;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #2f404e;
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

button {
    max-width: 50%;
    border-radius: 50px !important;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#hero img {
    max-width: 100% !important;
    width: 130%;
}

#hero .card {
    border: none;
    background: none;
    text-align: center;
}

#hero .card-title {
    color: #2f404e;
}

#hero .card-title a {
    color: #2f404e;
    text-decoration: none;
}

#hero .card-title a:hover {
    color: #08406e;
    text-decoration: none;
}

#hero .card-text a {
    text-decoration: none;
}

.author {
    color: #2f404e;
}

#hero .icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom!important;
    border: 3px solid #fff;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
}

#about-us {
    text-align: center;
}

#about-us h1 {
    text-align: center;
    font-style: italic;
}

#about-us .phrase {
    font-size: 16pt;
    font-style: italic;
}

#about-us .citation-name {
    font-weight: 500;
}

#about-us .citation-from {
    font-style: italic;
}

#about-us .citation-year {
    font-size: 10pt;
    font-style: italic;
}

#about-us img {
    width: 450px;
    height: 500px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom!important;
    border: 3px solid #fff;
    box-shadow: 0 3px 8px 0 rgb(47 64 78);
}

#contact {
    text-align: center;
    box-shadow: black 0px 0px 7px -1px;
}

#contact h1 {
    text-align: center;
    color: black;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

.fas {
    color: #2f404e;
}

.user-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom!important;
    border: 3px solid #fff;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
    display: inherit;
    margin: 10px 0;
}

.user-photo-remove-button {
    padding-top: 49px;
    padding-left: 20px;
    color: #ff4040;
    cursor: pointer;
}

.p-4 {
    padding: 1.5rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
}
/* user-dashboard-info-box */
.user-dashboard-info-box .candidates-list .thumb {
    margin-right: 20px;
}
.user-dashboard-info-box .candidates-list .thumb img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.user-dashboard-info-box .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}

.user-dashboard-info-box .candidates-list td {
    vertical-align: middle;
}

.user-dashboard-info-box td li {
    margin: 0 4px;
}

.user-dashboard-info-box .table thead th {
    border-bottom: none;
}

.table.manage-candidates-top th {
    border: 0;
}

.user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
    margin-bottom: 10px;
}

.table.manage-candidates-top {
    min-width: 650px;
}

.user-dashboard-info-box .candidate-list-details ul {
    color: #969696;
}

.profile-details {
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

 .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

 .profile-details i {
    font-size: 20px;
    color: #333;
}

.candidate-list {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.candidate-list:hover {
    -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    position: relative;
    z-index: 99;
}
.candidate-list:hover a.candidate-list-favourite {
    color: #e74c3c;
    -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
    box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
    margin-right: 25px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    border: none;
}
.candidate-list .candidate-list-image img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
}

.candidate-list-title {
    margin-bottom: 5px;
}

.candidate-list-details ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.candidate-list-details ul li {
    margin: 5px 10px 5px 0px;
    font-size: 13px;
}

.candidate-list .candidate-list-favourite-time {
    margin-left: auto;
    text-align: center;
    font-size: 13px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}
.candidate-list .candidate-list-favourite-time span {
    display: block;
    margin: 0 auto;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #eeeeee;
    border-radius: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    font-size: 16px;
    color: #646f79;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
    background: #ffffff;
    color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
    position: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    z-index: inherit;
}

.bg-white {
    background-color: #ffffff !important;
}
.p-4 {
    padding: 1.5rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.user-dashboard-info-box .candidates-list .thumb {
    margin-right: 20px;
}

.fab-icon {
    margin-left: 10px;
    padding-top: 0px;
    font-size: 40pt;
}

.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    cursor: pointer;
}

.fab-icon-holder {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #4e88b7;
    color: white;
    box-shadow: 0 6px 20px rgb(35 1 21 / 36%);
}

.fab-icon-holder:hover {
    opacity: 0.8;
}

.fab-icon-holder i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    color: white;
}

.fab {
    width: 60px;
    height: 60px;
    background: #2f404e;
}

.fab-options {
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom: 70px;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 85% bottom;
}

.fab:hover+.fab-options,
.fab-options:hover {
    opacity: 1;
    transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
    padding: 2px 5px;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    background: #4e88b7;
    color: white;
    font-weight: bold;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    margin-right: 10px;
}

.logged-user-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom!important;
    border: 3px solid #fff;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
}

.saint-photo-remove-button {
    position: absolute;
    margin-top: 225px;
    margin-left: 470px;
    font-size: 17pt;
    background: #ff5555;
    font-weight: bold;
    padding: 5px;
    color: white;
    box-shadow: black 0px 0px 5px -1px;
    cursor: pointer;
}

.saint-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    color: white;
    text-align: center;
}

.saint-input:focus {
    background: none;
    outline: none;
    color: white;
}

.saint-input::placeholder {
    color: white;
    text-align: center;
}

.saint-input .phrase {
    font-style: italic;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile:focus + label {
    outline: none;
}
.inputfile + label * {
    cursor: pointer;
}

.saint-comment {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: bottom!important;
    border: 3px solid #fff;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
    margin-top: -16px;
    margin-left: 10px;
}

.total-devotions {
    padding: 0;
    margin: -94px 0px 0px -5px;
    position: absolute;
    color: #ff4041;
    font-weight: bold;
    font-size: 19pt;
}

.good-samaritan {
    background-image: url('/images/good-samaritan.webp');
    min-height: 700px;
    background-size: cover;
}

.message {
    background-color: floralwhite;
    padding: 2% 1% 1% 1%;
    margin: -4% 0% 0% 5%;
    position: fixed;
    font-weight: bold;
    font-size: 15pt;
    z-index: 99999;
    box-shadow: black 0px 0px 3px -1px;
}

#hideMe {
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
